<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand green pl-3">Топ футбольных <b>клубов</b></a>
    <div class="dropdown open">
        <a class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
            Об Авторе
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Ахвердиев</a>
            <a class="dropdown-item" href="#">ИУ5-51Б</a>
        </div>
    </div>
</nav>
<body class="d-flex flex-column h-100" style="background-color: #333">
<main role="main" class="mb-5">
    <div id="myCarousel" class="carousel slide" style="height: 800px" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for c in club_list %}
                {% if forloop.counter == 1 %}
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                {% else %}
                    <li data-target="#myCarousel" data-slide-to={{ i }}></li>
                {% endif %}
            {% endfor %}
        </ol>

        <div class="carousel-inner" style="height: 100%">
            {% for club in club_list %}
                {% if forloop.counter == 1 %}
                    <div class="carousel-item active" style="height: 90%">
                {% else %}
                    <div class="carousel-item" style="height: 90%">
                {% endif %}
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                <rect width="100%" height="100%" fill="#333"/>
            </svg>
            <div class="container">
                <div class="carousel-caption text-left">
                    <h2 class="card-title">{{ club.title }}</h2>
                    <h6 class="card-subtitle mb-2">{{ club.tagline }}</h6>
                    <p class=>{{ club.description }}</p>
                    <h4> Основной состав </h4>
                    <ul style="margin-left: -33px">
                        {% for  name in club.name.all %}
                            <li style="list-style-type: none"> {{ name.name }}, {{ name.age }}, {{ name.description }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            </div>
            {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</main>
</body>
<footer class="footer mt-auto py-3" style="background-color: white">
    <div class="container">
        <p>&copy; 2020 Valeriy, Inc. &middot; <a href="https://github.com/Ash1eyJoy/DZrip">Github</a> &middot; <a
                href="#">Telegram</a></p>
    </div>
</footer>
</html>